body {
    background: linear-gradient(to right, #fda2b1, #ff8297);
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h2{
  color: #44010c;

}
.login-container {
  background: linear-gradient(to right, #fda2b1, #ff8297);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
.form-control:focus {
  box-shadow: none;
  border-color: #0d6efd;
}
.btn-primary {
    background-color: #fcfcfc;
    border: none;
    color: #000;
    width: 100%;
  }
  
  .btn-primary:hover {
    background-color: #ff8297;
    color: #fcfcfc;
  }
  
